#block2{
    margin-left:100vw;
    transform:translateX(-108%);
}
.block{
    width:15vw;
    height:60px;
    position:fixed;
    left:0;
    top:48px;
    background-image: url(../images/navbar.png);
}

header label{
    position:absolute;
    top:15px;
    background-image: url(../images/logo.png);
    background-size:40px;
    width:40px;
    height:47px;
    left:50%;
    transform: translateX(-50%);
    cursor:pointer;
}
#imgMenu{
    width:30px;
 
}
.menu{
    position:absolute;
    width:50vw;
    background-color:rgba(61,61,61, 0.4);
    top:107px;
    right: 0;
    padding:5vh 0vw;
    transition:0.7s;
    transform: translateX(100%);
}
.menu li{
    color:white;
    list-style-type: none;
    text-align: center;
    height:50px;
    font-size:20px;
    display:block;
}
.menu li:hover{
    color:black;
    transition:1s;
    cursor:pointer;
}
#menu-bar{
    display:none;
}
#menu-bar:checked ~ .menu{
    transform:translateX(0);
}
@media (min-width:1024px){
    .menu{
        position:static;
        width:100vw;
        height:70px;
        margin-top:-22px;
        justify-content: center;
        display:flex;
        background-color:transparent;
        transform:translateX(0);
    }
    .menu li{
        transform:translateX(0);
        transform: translateY(-50%);
        padding:5px 40px 10px 40px;
        font-size:30px;
        display: inline;
        background-color:rgba(170,170,170,0.7);
        width:500px;
    }
    #headContainer label{
        display:none;
    }
}

