#info{
    text-align: center;
    background-color:#f3f3f3;
    color:#3d3d3d;
    float:none;
    margin:auto;
    padding:50px 100px 50px 0px;
    width:100%;
   
}
article img{
    height:100px;
    margin:50px;
    margin-top:100px;
}
#info #container{
    display:flex;
    justify-content: center;
    
}


#info2{

    
}
#info2 img{
    position:absolute;
    width:100%;
    margin-top:-100px;
}
#info2 #container{
   position:absolute;
    margin-top:100px;
    width:1080px;
}
#info3{
    display: block;
    margin-top:600px;
    background-image:url(../images/map.jpg);
    height:500px;
    background-size: contain;
}
#info3 #container{
    position:absolute;
    width:500px;
    text-align:center;
    left:50%;
    transform:translateX(-50%);
    margin-top:140px;
}